/* Found here: http://jsfiddle.net/loktar/cynbp3j0/ */
.wrapper
{
    width: 150px;
    height: 100px;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
}